doctype html
html(lang='en')
  head
    title= 'Cookbook: ' + title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    block scripts
      script(src='https://code.jquery.com/jquery-3.4.1.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') Cookbook
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link.active(href='/')
            | Home 
            span.sr-only (current)
          a.nav-item.nav-link(href='/cookbook/recipes') Recipes
          a.nav-item.nav-link(href='/cookbook/recipe/create') Add Recipe
          a.nav-item.nav-link(href='/cookbook/recipe/import') Import Recipe
          if locals.profile
            a.nav-item.nav-link(href=locals.logout) Logout
          else
            a.nav-item.nav-link(href=locals.login) Login

    .container
      block content